In [1]:
import pandas as pd
import numpy as np 

# import all data including some sheets individually 
fileName = 'BrazilCOVIDData.xlsx'
PrelimData = pd.ExcelFile(fileName)
BrazilCov = pd.read_excel(PrelimData, 'Brazil Covid-19 data')
TempData = pd.read_excel(PrelimData, 'Temperature by State')
City = pd.read_excel(PrelimData, 'City area')

In [2]:
# merging covid data and city area data frames by capital city and sorting
CovidDF = BrazilCov.merge(City, how='inner', left_on=['Municipality', 'State'], right_on=['City', 'ST'])
CovidDF = CovidDF.drop(['City', 'ST'], axis=1)
CovidDF.sort_values(by=['Municipality', 'State', 'Date'], inplace=True)

# creating new columns for counting and squared values
CovidDF['days_cube'] = 0            
CovidDF['days_sq'] = 0      
CovidDF["days"] = 0     

# create function to cube data values
acc_var = 0 
acc_str = "" 
for index in CovidDF.index:    
   if CovidDF.loc[index,"Municipality"] != acc_str:
       acc_var = 0
       acc_str = CovidDF.loc[index, "Municipality"]
   CovidDF.loc[index, 'days_cube'] = acc_var * acc_var * acc_var
   CovidDF.loc[index, 'days_sq'] = acc_var * acc_var
   CovidDF.loc[index, 'days'] = acc_var
   acc_var = acc_var + 1

# merging covid data frame based on city
CovidDF = CovidDF.merge(TempData, how='inner', left_on=['Municipality'], right_on=['CITY'])
CovidDF = CovidDF.drop(['CITY'], axis=1)
    
# renaming population and tempature column
CovidDF = CovidDF.rename(columns={"Population as of 2019": 'pop'})
CovidDF = CovidDF.rename(columns={"ANNUAL": 'temp'})

# creating and columns and values for population density and population density squared
CovidDF['pop_dense'] = int(CovidDF.loc[index, 'pop']) / int(CovidDF.loc[index, 'SQ_KM'])
CovidDF['pop_dense_sq'] = (CovidDF.loc[index, 'pop_dense']) * (CovidDF.loc[index, 'pop_dense'])

# adusting dataframe to include accumulated cases and finalizing dataframe columns
resp_DF = CovidDF.loc[CovidDF['days'] == 150]
resp_DF = resp_DF[['Accumulated cases']]
FinalDF = CovidDF.drop(['Accumulated cases'], axis=1)
FinalDF = FinalDF[['days_cube', 'days_sq', 'days', 'temp', 'pop_dense_sq','pop_dense', 'pop']]

In [3]:
# Get Final Features DataFrame
features = FinalDF

# Get Final Response DataFrame
response = resp_DF

# Prepare DataFrames for Grading

**Do not make changes to the below code**

After completing all data preparation tasks, run the following four cells to prepare your DataFrame for grading by:

1. Outputting the `features` and `response` DataFrames (you do not need to print).

2. Using the NumPy [around()](https://numpy.org/doc/stable/reference/generated/numpy.around.html) function to round all the values in both DataFrames to ___ZERO decimal places___.  You are calling these `features_round` and `response_round`, respectively.

3. Computing the sum of every column for both `features_round` and `response_round`, and saving those values as `features_final` and `response_final`.

___Finally, you are printing your final answer using the `print()` function.___

___Be sure to run all cells of your notebook prior to submitting, so that all output is rendered, visible and there are no error messages.___

In [4]:
features

      days_cube  days_sq  days  temp  pop_dense_sq   pop_dense     pop
0             0        0     0  78.8  8.948915e+06  2991.47379  657013
1             1        1     1  78.8  8.948915e+06  2991.47379  657013
2             8        4     2  78.8  8.948915e+06  2991.47379  657013
3            27        9     3  78.8  8.948915e+06  2991.47379  657013
4            64       16     4  78.8  8.948915e+06  2991.47379  657013
...         ...      ...   ...   ...           ...         ...     ...
4072    3112136    21316   146  75.6  8.948915e+06  2991.47379  362097
4073    3176523    21609   147  75.6  8.948915e+06  2991.47379  362097
4074    3241792    21904   148  75.6  8.948915e+06  2991.47379  362097
4075    3307949    22201   149  75.6  8.948915e+06  2991.47379  362097
4076    3375000    22500   150  75.6  8.948915e+06  2991.47379  362097

[4077 rows x 7 columns]

In [5]:
response

      Accumulated cases
150               32545
301               30481
452               30196
603               31106
754              150519
905               18663
1056              16654
1207              26208
1358               5252
1509              45623
1660              29954
1811              25819
1962              16716
2113              25556
2264              40859
2415              21903
2566              11015
2717              11625
2868              26044
3019              30788
3170               9819
3321              87164
3472              72412
3623              18176
3774             247730
3925              23424
4076              13432

In [6]:
features_round = np.around(features, decimals=0)
features_final = features_round.sum(axis=0)
print(features_final)

days_cube                                              3462901875
days_sq                                                  30679425
days                                                       305775
temp                                                     309550.0
pop_dense_sq                                        36484726455.0
pop_dense                                              12194307.0
pop             6570136570136570136570136570136570136570136570...
dtype: object

In [7]:
response_round = np.around(response, decimals=0)
response_final = response_round.sum(axis=0)
print(response_final)

Accumulated cases    1099683
dtype: int64